

<!DOCTYPE html>
<html ng-app="jobs">
   <head>
      <title>findJobs</title>
      <!-- link all style -->
      <link rel="stylesheet" type="text/css" href="assets/bootstrap/css/bootstrap.css">
      <link rel="stylesheet" type="text/css" href="assets/style.css">
      <link rel="stylesheet" type="text/css" href="assets/more-option.css">
      <link rel="stylesheet" type="text/css" href="assets/font/css/font-awesome.css">
      <!--link js -->
      <script type="text/javascript" src="assets/js/jquery.min.js"></script>
      <script type="text/javascript" src="assets/bootstrap/js/bootstrap.min.js"></script>   
      
      <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
      <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.js"></script>
      <script type="text/javascript" src="assets/js/custom.js"></script>
   </head>
   <body ng-controller='jobs-cntrl'>
      <!-- nav bar start-->
      <section class="top-bar">
         <div class="top-bar-bg">
            <nav class="navbar navbar-inverse navbar-fixed-top">
               <div class="container-fluid">
                  <div class="navbar-header">
                     <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                     <span class="icon-bar"></span>
                     <span class="icon-bar"></span>
                     <span class="icon-bar"></span>                        
                     </button>
                     <a class="navbar-brand" href="index.html">Find Jobs</a>
                  </div>
                  <div class="collapse navbar-collapse" id="myNavbar">
                     <ul class="nav navbar-nav">
                        <li><a href="#">Find Resume / Jobs</a></li>
                        <li><a href="#">Post Jobs</a></li>
                        <li><a href="#">Find Employers</a></li>
                     </ul>
                     <ul class="nav navbar-nav navbar-right">
                        <li><a href="#" class"differ-text">Upload your resume</a></li>
                        <li><a href="#"> Sign in</a></li>
                     </ul>
                  </div>
               </div>
            </nav>
            <div class="container-fluid">
               <div class="col-md-12 col-xs-12 search-box">
                  <div class="col-md-9 col-md-offset-2">
                     <form class="form-inline" role="form">
                        <div class="form-group">
                           <h3>What</h3>
                           <input type="text" class="form-control" id="email" placeholder="Keyword">
                        </div>
                        <div class="form-group">
                           <h3>Where</h3>
                           <input type="text" class="form-control" id="pwd" placeholder="City or postcode">
                        </div>
                        <button type="submit" class="btn btn-success">Submit</button><br>                 
                     </form>
                  </div>
               </div>
            </div>
      </section>
      <div>     
      <div class=" col-md-12 option-top ">
      <div class="col-md-2 col-md-offset-2 opt-type">
      <a href="#" ng-click="openDropdown(1)"><h3>All work types<span>
      <i class="fa fa-angle-down"></i></span></h3></a>			
      </div>
      <div class="col-md-2 opt-type">
      <a href="#" ng-click="openDropdown(2)"><h3>Paying $0<span>
      <i class="fa fa-angle-down"></i></span></h3></a>			
      </div>
      <div class="col-md-2 opt-type">
      <a href="#" ng-click="openDropdown(3)"><h3>to $200k+<span>
      <i class="fa fa-angle-down"></i></span></h3></a>		
      </div>	
      <div class="col-md-2 opt-type" >
      <a href="#" ng-click="openDropdown(4)"><h3>Listed any time<span>
      <i class="fa fa-angle-down"></i></span></h3></a>			
      </div>
      </div>
      </div>
      <div class="option col-md-12" ng-if="show==1" ng-cloak>
      <div class="content">				                  
      <ul class="pagination">
      <li><a href="#">Full time</a></li>
      <li><a href="#">Part time</a></li>
      <li><a href="#">Contract/Temp</a></li>
      <li><a href="#">Casual/Vacation</a></li>
      </ul>
      </div>		
      </div>	
      <div class="option col-md-12" ng-if="show==2" ng-cloak>
      <div class="content">				                  
      <ul class="pagination">
      <li><a href="#">$0</a></li>
      <li><a href="#">$30k</a></li>
      <li><a href="#">$50k</a></li>
      <li><a href="#">$80k</a></li>
      <li><a href="#">$90k</a></li>
      <li><a href="#">$100k</a></li>
      <li><a href="#">$120k</a></li>
      <li><a href="#">$150k</a></li>
      <li><a href="#">$180k</a></li>
      <li><a href="#">$200k</a></li>			    
      </ul>
      </div>		
      </div>	
      <div class="option col-md-12" ng-if="show==3" ng-cloak>
      <div class="content">				                  
      <ul class="pagination">
      <li><a href="#">$0</a></li>
      <li><a href="#">$30k</a></li>
      <li><a href="#">$50k</a></li>
      <li><a href="#">$80k</a></li>
      <li><a href="#">$90k</a></li>
      <li><a href="#">$100k</a></li>
      <li><a href="#">$120k</a></li>
      <li><a href="#">$150k</a></li>
      <li><a href="#">$180k</a></li>
      <li><a href="#">$200k+</a></li>	
      </ul>
      </div>		
      </div>			
      <div class="option col-md-12" ng-if="show==4" ng-cloak>
      <div class="content">				                  
      <ul class="pagination">
      <li><a href="#">Any time</a></li>
      <li><a href="#">Today</a></li>
      <li><a href="#">Last 3 days</a></li>
      <li><a href="#">Last 7 days</a></li>
      <li><a href="#">Last 15 days</a></li>
      <li><a href="#">Last 20 days</a></li>
      <li><a href="#">Last 30 days</a></li>
      </ul>
      </div>		
      </div>					
      </div>	
      <script>
        
      </script>
   </body>
   </head>
</html>

