.more-option {
    background: #395095;
}
.more-option select {
    background: #395095 !important;
    border: none;
    font-size: 22px !important;
    color: #fff !important;
}
.search-box {
    background: rgba(24, 26, 26, 0.42);
    margin-top:94px;
}
.option{
  background-color: #3c9c24;;  
  width:100%;
  color: #fff;
  top: -295px;
}
.option-top {
    background: #3c9c24;
    color: #fff;
    top: -288px;
}
.ng-hide {
  height: 0;
}
.content .pagination li a {
    color: #fff !important;
    background: #3cab26;
    padding: 15px;
    font-size: 18px;
    text-align: center;
}
.pagination {
    margin-left: 17%;
}
.opt-type {
    border-left: 1px solid;
}
.search-box .form-inline .form-control {
    width: 287px !important;
    margin-right: 51px;
    margin-bottom: 26px;
}
.content .pagination li a:active {
    background: white;
    color: #3cab26 !important;
}
.opt-type a h3:active {
    color: #4b4b50 !important;
}
.search-box button {
    margin-top: 27px;
}