.top-bar{
	background-image: url(../img/download.jpg);
	background-size:cover;
	min-height:500px;
}
.top-bar-bg {
    background: rgba(47, 56, 47, 0.6);
    color: #fff;
    min-height:500px;
}
.navbar.navbar-inverse {
    background:rgba(0, 0, 0, 0.5);
    border-color: transparent;
    border-radius: 0px !important;
}
.navbar-inverse .navbar-nav li a:active {
    color: blue !important;
}
.search-box h5 {
    display: inline;
}
.search-box {
    background: rgba(24, 26, 26, 0.42);
}

.search-box button {
    margin-top: 55px;
}

.box {
    margin-top: -88px;
}

.search-box .form-inline .form-control {
    width: 225px !important;
    margin-right: 51px;
}
.title, .quick-search{
   margin-top: -15px;
   margin-bottom: 9px;
}
.title{
	text-align:center;
	margin-top:2px;
	margin-bottom:-10px;
}
.feature-images {
    margin-top: 25px;
}
.feature-job {
    background: #f8f8f8;
    min-height: 579px;
    width: 380px;
    float: right;
    margin-top: 25px;
}
.feature-job h5 {
    padding-left: 12px;
    color: rgba(0, 0, 0, 0.37);
}
.img-description {
    position: absolute;
	top: 245px;
	text-align: center;
	width: 91%;
	left: 20px;
	z-index: 1111;	
}
h5 span a {
    color: #4caf50 !important;
}
a {
    color: #fff !important;
    text-decoration: none !important;
    cursor:pointer;
}
.login-section h5 {
    color: #5cb85c;
}
.login-section .form-group {
    margin-left: 22%;
}
.btn-top .btn {
    margin-left: 45%;
    margin-top: 15px;
}

.navbar-nav > li > a:hover {
    color: #10FB02 !important;
    font-size: 16px !important;
}
.top-employers {
    background: #fefefe;
}
.text {
    padding-top: 109px;
    margin-left:-10px;
}
h4{
	float: right;
}
.what-section h6 {
    padding: 10px;
    text-align: center;
}
@media screen and (max-width: 1000px){
.box {
    margin-top: 0px !important;
}
.feature-job {    
    margin-right: 28px!important;
}
}

.checkbox span {
    float: right;
    padding-right: 10px;
    color: #5cb85c;
}
.checkbox label {
    padding-left: 30px;
}
h4 a:hover {
    color: #5cb85c !important;
}
.feature .feature-images img {
    filter: brightness(50%);
}
h3 a {
    color: #fff !important;
    text-shadow: 1px 1px #9e9898;
}
h3 a:hover  {
    color: #fff !important;
    font-size: 30px;
}
h5 a:hover {
    color: #25e719 !important;
}
.feature .feature-images img:hover {
    filter: brightness(40%);
}
